 /*#container {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 150px 230px 150px;
 }
 */
 
 #rp_nh {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: #FBA8B8;
  }

  #center_nh {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background: #ffffff;
  }

  #lp_nh {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background: #FBA8B8;
  }
  
  .line{
    color: #FBA8B8;
  }

  .right {
    text-align: right; 
  }

  #hr_nh {
    height: 2px;
    width: 100%;
    border: none;
  }

  .skip_nh {
    color: #FBA8B8;
    font-size: 20px;
  }

  .btn_nh {
    display: flex;
  }
  

/***カーテンのように開くアニメーション***/
body::before, body::after{
  content: "";
  position: fixed; /*固定表示*/
  top: 0;
  width: 50vw;
  height: 100vh;
  background: #940C04; /*劇のカーテン色*/
  animation: curtainOpen 1s forwards;
  animation-delay: 1s; /*遅延時間(遅延時間)*/
  z-index: 999; /*最前面に*/
}
body::before{
  left: 0;
}
body::after{
  right: 0;
}

@keyframes curtainOpen{
  0%{
    width: 50vw; /*閉じている状態*/
  }
  100%{ 
    width: 0; /*開く*/
    visibility: hidden; /*非表示に*/
  }
}

/***サンプル装飾用***/
body{
  padding: 1rem;
}
