/*.parent_nh {
    margin: 40px;
    background-color: green;
  }
  .child1_nh {
    background-color: greenyellow;
  }
  .child2_nh {
    background-color: blue;
  }
  */
   
  #rp_nh {
    background: #FBA8B8;
  }

  #center_nh {
    background: #ffffff;
  }

  #lp_nh {
    background: #FBA8B8;
  }