 #container {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 150px 230px 150px;
 }
 
 #rp_nh {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: #FBA8B8;
  }

  #center_nh {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background: #ffffff;
  }

  #lp_nh {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background: #FBA8B8;
  }
  
  .line{
    color: #FBA8B8;
  }

  .right {
    text-align: right; 
  }

  #hr_nh {
    height: 2px;
    width: 100%;
    border: none;
  }

  .skip_nh {
    color: #FBA8B8;
    font-size: 20px;
  }

  input[type="checkbox"] {

    display: none;

    /*デフォルトのチェックボックスを非表示にする*/

}

input#check1[type="checkbox"]+label {

    position: relative;

    padding-left: 15px;

    /*チェックボックス分の隙間を作る*/

}

input#check1[type="checkbox"]+label::before {

    content: "";

    display: block;

    width: 12px;

    height: 12px;

    position: absolute;

    top: 50%;

    left: 0;

    transform: translateY(-50%);

    /*中央ぞろえにする*/

    border: 1px solid blue;

    /*お好きなや太さで。*/

    border-radius: 3px;

    cursor: pointer;

    /*ポインターを表示する*/

}

input#check1[type="checkbox"]:checked+label::before {

    /*チェックしたときの箱の色を変える*/

    background: #FBA8B8;

}
