/*
.trim-image-to-circle {
    /*3行目の画像がアイコンとして表示される*
    background-image: url("../img/pink.png");  /* 表示する画像 *
    width:  100px;       /* ※縦横を同値に *
    height: 100px;       /* ※縦横を同値に *
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) *
    background-position: center center;  /* 横長画像の真ん中を基準に表示 *
    display: inline-block;          /* 複数の画像を横に並べたい場合 *
}

figure.side_image {
    display: inline-block;
  }
   
  p.side_text {
    display: inline-block;
    width: 300px;
    margin-left: 20px;
    vertical-align: top;
  }

.a{
    text-align: left;
}
*/
.image_middle {
	width:80px;
	height:80px;
	object-fit:cover;
	border-radius:50%;
}

.middll_yamani{
  text-align:center;
}

.back_pink_yamani{
  background-color: #FBA8B8;
}

.back_pink_ys{
  background-color: #FBA8B8;
  height: 750px;
}

.color_yamani{
  color: #FBA8B8;
}

.color_white_yamani{
  color: white;
}

.margin_minus_yamani{
  margin-top: -1px;
  margin-bottom: -16px;
}

.rogo_yamanisi {
  width: 700px;
  display: block;
  margin-top: -100px;
  text-align:center;
  position: relative;
  z-index: -10;
  }

.rogo_magin_120{
  text-align: center;
  margin-top: -130px;
}
.magin-10_ys{
  margin-top: -20px;
}
.magin40_yamanisi{
  margin-top: 40px;
}

.magin30_yamanisi{
  margin-top: 30px;
}

.magin20_yamanisi{
  margin-top: 20px;
}

.magin10_yamanisi{
  margin-top: 10px;
}

.magin-sayu-ys{
  margin-left: 30px;
  margin-right: 30px;
}

.rinku_yamanisi{
  text-align: center;
  margin-top: 20px;
}

.a_ys{
  color: #FBA8B8;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}

.a1_ys{
  color: #FBA8B8;
  text-align: center;
  margin-top: 20px;
  margin-left: 30px;
}

.border_yamanisi{
border-color:#FBA8B8;
border-width:3px;
}

.text-line {
	display: flex;
	align-items: center;
}
.text-line:before,
.text-line:after {
  content: "";
  flex-grow: 1;
  height: 1px; /* 線の太さ */
  background: #000; /* 線の色 */
  margin:0 2em; /* 文字と線の余白 */
}

.start_0_ys{
  padding: 0px;
  margin: 0px;
}

.padding30_ys{
  padding-left: 30px;
}

.padding20_ys{
  padding-left: 20px;
}

.yoko_ys {
  border-left:1px solid #c8c8c8;
  padding: 0px;
  }

  .box {
    /*padding-left:900px;
    margin-top: -200px;*/
    position: fixed;
    bottom: 50px;
    right: 100px;
  }

.kyanseru_ys{
  width:130px;
	height:40px;
  position: fixed;
    top: 50px;
    left: 300px;
}

.touroku_ys{
  width:150px;
	height:40px;
  margin-top: -40px;
  margin-left: 80%;
  
}

.toukou_bokku_ys{
  height: 250px;
  text-align:left;
  border:none;
  overflow-wrap: break-word;
}



/*tabの形状------------------------------*/
.tab{
  display: flex;
  flex-wrap: wrap;
}
.tab li a{
  display: block;
  
/*  margin:0 2px;
  padding:10px 20px;
  */
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
  background:#fff;
}


/*エリアの表示非表示と形状*/
.area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: #fff;
  
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/*========= レイアウトのためのCSS ===============*/



.ul_ys ul{
  list-style:none;
}

.wrapper{
  width:100%;
  max-width: 960px;
    background:#fefefe;
}

.area h2{
  font-size:1.3rem;
  margin:0 0 20px 10px;
}

.area li{
  padding: 10px; 
  border-bottom: 1px solid #ddd;
}


/*ここからtweetの枠線の設定*/
/*
.waku_ys p{
  display :inline-block;
  border: solid 2px #FBA8B8;
  width: 900px;
  max-width:900px;
  padding: 10px 20px 15px 20px;
  margin: 20px 20px 0px 20px;
  
}
*/

.waku_ys p{
  display :inline-block;
  border: solid 2px #FBA8B8;
  width: 1000px;
  max-width:1000px;
  padding: 10px 20px 15px 20px;
  margin-top: 20px;
  background: #fff;
}

.waku_ys .haikei_yp{
  background-color: #FBA8B8;
}



