#haikei_yr {
    background: #FBA8B8;
}

.log_yr img {
    width: 510px;
    height: 140px;
    object-fit: cover
}

.ul_yr
{
width: 800px;
margin:20px;
padding:0px;
list-style-type:none;
-webkit-backface-visibility: hidden; backface-visibility: hidden;  
}

.var_nav_yr
{
position:relative;
background:#FBA8B8; 
width:300px;
height:70px;
margin-bottom:5px;
}

.link_bg_yr
{
 width:70px;
 height:70px;
 position:absolute;
 background:#FBA8B8;
 color:#FBA8B8;
 z-index:2;
}

.link_bg_yr img
{
 position:relative;
}
.link_title_yr
{
position:absolute;
width:100%;
z-index:3;
color:#FBA8B8;
}
.link_title_yr:hover .icon_yr
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
-ms-transform:rotate(360deg);
transform:rotate(360deg);  
}
.var_nav_yr:hover .link_bg_yr
{
width:100%;
background:#FBA8B8;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.var_nav_yr:hover .a_yr
{
font-weight:bold;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;  
}
.icon_yr
{
position:relative;
width:70px;
height:70px;
text-align:center;
color:#ffffff;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;   
float:left;
transition:all .5s ease-in-out;   
float:left;  
}
.icon_yr img
{top:10px;position:relative;}
.a_yr{
display:block;
position:absolute;
float:left;
font-family:arial;
color:#ffffff;
text-decoration:none;
width:100%;
height:70px;
text-align:center;
}
.span_yr
{
margin-top:25px;
display:block;
}