#haikei_yr {
    background: #FBA8B8;
}

.log_yr img {
    width: 400px;
    height: 130px;
    object-fit: cover
}

.search-form-006 {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-form-006 input {
    width: 840px; /*ここをいじると検索の大きさが変わる初期840px*/
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 1em;
    outline: none;
}

.search-form-006 input::placeholder {
    color: #b4b8bb;
}

.search-form-006 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #f57a8d;
    cursor: pointer;
}

.search-form-006 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

#anim_wrap{
    position: relative;
  }
  #anim_wrap .heart{
    font-size: 100px;
    color: #eb0808;
    margin: 0;
    top: 12px;
    opacity:0;
    text-align: center;
  }
  #anim_wrap.is-show .heart{
    animation: bobble .9s ;
    opacity: 1;
    z-index: 2;
    position: relative;
  }
  @keyframes bobble {
    0%,50%  { transform: scale(0, 0); color: #ff6464; }
    60%  { transform: scale(1.3, 1.3);}
    100% { transform: scale(1.0, 1.0); }
  }
  #anim_wrap:after,
  #anim_wrap:before{
    border-radius: 50%;
    content:"";
    display: block;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
  }
  #anim_wrap.is-show:before{
    animation: character-defaultAnim-before .5s !important;
  }
  #anim_wrap.is-show:after{
    animation: character-defaultAnim-after .5s !important;
  }
  #contTopics #anim_wrap.is-show:before,
  #contRanking #anim_wrap.is-show:before,
  #contCharacter #anim_wrap.is-show:before{
    animation: character-defaultAnim-before2 .5s !important;
  }
  #contTopics #anim_wrap.is-show:after,
  #contRanking #anim_wrap.is-show:after,
  #contCharacter #anim_wrap.is-show:after{
    animation: character-defaultAnim-after2 .5s !important;
  }
  @keyframes character-defaultAnim-before {
    0%   { transform: scale(0, 0); background-color: #7de8dc; opacity: 1;}
    50%  {background-color: #7de8dc;}
    99%  { opacity: 1;}
    100%  { transform: scale(1, 1); background-color: #4dcdd4;  opacity: 0;}
  }
  @keyframes character-defaultAnim-after {
    0%    { transform: scale(0, 0); background-color: #fff; opacity: 1;}
    50%   { transform: scale(0, 0); background-color: #fff;}
    99%  { opacity: 1;}
    100%  { transform: scale(1, 1); background-color: #fff;  opacity: 0;}
  }
  @keyframes character-defaultAnim-before2 {
    0%   { transform: scale(0, 0); background-color: #fff; opacity: 1;}
    50%  {background-color: #fff;}
    99%  { opacity: 1;}
    100%  { transform: scale(1, 1); background-color: #fff;  opacity: 0;}
  }
  @keyframes character-defaultAnim-after2 {
    0%    { transform: scale(0, 0); background-color: #c2eef0; opacity: 1;}
    50%   { transform: scale(0, 0); background-color: #c2eef0;}
    99%  { opacity: 1;}
    100%  { transform: scale(1, 1); background-color: #c2eef0;  opacity: 0;}
  }
  #anim_wrap .bobble_particle i{
    border-radius: 50%;
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top:50%;
    left: 50%;
    opacity: 0;
  }
  #anim_wrap.is-show .bobble_particle i{
    transition: .3s;
    opacity: 1;
  }
  #anim_wrap.is-show .bobble_particle i:nth-child(1){
    animation: bobble_particle_01 1s ease-out .5s;
  }
  @keyframes bobble_particle_01 {
    0%    { transform: rotate(10deg) translate(50px, 0); background-color: #df2b43;}
    80%   { transform: rotate(10deg) translate(70px, 0); }
    100%  { width: 0; height: 0; background-color: #df2b43;}
  }
  #anim_wrap.is-show .bobble_particle i:nth-child(2){
    animation: bobble_particle_02 1s ease-out .5s;
  }
  @keyframes bobble_particle_02 {
    0%    { transform: rotate(70deg) translate(50px, 0); background-color: #73bfe6;}
    80%   { transform: rotate(70deg) translate(70px, 0); }
    100%  { width: 0; height: 0; background-color: #224a5f;}
  }
  #anim_wrap.is-show .bobble_particle i:nth-child(3){
    animation: bobble_particle_03 1s ease-out .5s;
  }
  @keyframes bobble_particle_03 {
    0%    { transform: rotate(130deg) translate(50px, 0); background-color: #e6dc73;}
    80%   { transform: rotate(130deg) translate(70px, 0); }
    100%  { width: 0; height: 0; background-color: #58531a;}
  }
  #anim_wrap.is-show .bobble_particle i:nth-child(4){
    animation: bobble_particle_04 1s ease-out .5s;
  }
  @keyframes bobble_particle_04 {
    0%    { transform: rotate(190deg) translate(50px, 0); background-color: #df2b43;}
    80%   { transform: rotate(190deg) translate(70px, 0); }
    100%  { width: 0; height: 0; background-color: #620612;}
  }
  #anim_wrap.is-show .bobble_particle i:nth-child(5){
    animation: bobble_particle_05 1s ease-out .5s;
  }
  @keyframes bobble_particle_05 {
    0%    { transform: rotate(250deg) translate(50px, 0); background-color: #73bfe6;}
    80%   { transform: rotate(250deg) translate(70px, 0); }
    100%  { width: 0; height: 0; background-color: #224a5f;}
  }
  #anim_wrap.is-show .bobble_particle i:nth-child(6){
    animation: bobble_particle_06 1s ease-out .5s;
  }
  @keyframes bobble_particle_06 {
    0%    { transform: rotate(310deg) translate(50px, 0); background-color: #e6dc73;}
    80%   { transform: rotate(310deg) translate(70px, 0); }
    100%  { width: 0; height: 0; background-color: #58531a;}
  }
  
  #anim_wrap.is-show .bobble_particle2 i:nth-child(1){
    animation: bobble_particle2_02 1s ease-out .5s forwards;
  }
  @keyframes bobble_particle2_01 {
    0%    { transform: rotate(20deg) translate(50px, 0); background-color: #df2b43;}
    40%   { transform: rotate(20deg) translate(55px, 0); }
    60%,100%  { transform: rotate(20deg) translate(55px, 0); width: 0; height: 0; background-color: #df2b43;}
  }
  #anim_wrap.is-show .bobble_particle2 i:nth-child(2){
    animation: bobble_particle2_03 1s ease-out .5s forwards;
  }
  @keyframes bobble_particle2_02 {
    0%    { transform: rotate(80deg) translate(50px, 0); background-color: #73bfe6;}
    40%   { transform: rotate(80deg) translate(55px, 0); }
    60%,100%  { transform: rotate(80deg) translate(55px, 0); width: 0; height: 0; background-color: #224a5f;}
  }
  #anim_wrap.is-show .bobble_particle2 i:nth-child(3){
    animation: bobble_particle2_04 1s ease-out .5s forwards;
  }
  @keyframes bobble_particle2_03 {
    0%    { transform: rotate(140deg) translate(50px, 0); background-color: #e6dc73;}
    40%   { transform: rotate(140deg) translate(55px, 0); }
    60%,100%  { transform: rotate(140deg) translate(55px, 0); width: 0; height: 0; background-color: #58531a;}
  }
  #anim_wrap.is-show .bobble_particle2 i:nth-child(4){
    animation: bobble_particle2_05 1s ease-out .5s forwards;
  }
  @keyframes bobble_particle2_04 {
    0%    { transform: rotate(200deg) translate(50px, 0); background-color: #df2b43;}
    40%   { transform: rotate(200deg) translate(55px, 0); }
    60%,100%  { transform: rotate(200deg) translate(55px, 0); width: 0; height: 0; background-color: #620612;}
  }
  #anim_wrap.is-show .bobble_particle2 i:nth-child(5){
    animation: bobble_particle2_06 1s ease-out .5s forwards;
  }
  @keyframes bobble_particle2_05 {
    0%    { transform: rotate(260deg) translate(50px, 0); background-color: #73bfe6;}
    40%   { transform: rotate(260deg) translate(55px, 0); }
    60%,100%  { transform: rotate(260deg) translate(55px, 0); width: 0; height: 0; background-color: #224a5f;}
  }
  #anim_wrap.is-show .bobble_particle2 i:nth-child(6){
    animation: bobble_particle2_01 1s ease-out .5s forwards;
  }
  @keyframes bobble_particle2_06 {
    0%    { transform: rotate(320deg) translate(50px, 0); background-color: #e6dc73;}
    40%   { transform: rotate(320deg) translate(55px, 0); }
    60%,100%  { transform: rotate(320deg) translate(55px, 0); width: 0; height: 0; background-color: #58531a;}
  }